In [1]:
import pandas as pd

# Attributes

Attributes and underlying data
Axes

DataFrame.index

The index (row labels) of the DataFrame.

DataFrame.columns

The column labels of the DataFrame.

DataFrame.dtypes

Return the dtypes in the DataFrame.

DataFrame.info([verbose, buf, max_cols, ...])

Print a concise summary of a DataFrame.

DataFrame.select_dtypes([include, exclude])

Return a subset of the DataFrame's columns based on the column dtypes.

DataFrame.values

Return a Numpy representation of the DataFrame.

DataFrame.axes

Return a list representing the axes of the DataFrame.

DataFrame.ndim

Return an int representing the number of axes / array dimensions.

DataFrame.size

Return an int representing the number of elements in this object.

DataFrame.shape

Return a tuple representing the dimensionality of the DataFrame.

DataFrame.memory_usage([index, deep])

Return the memory usage of each column in bytes.

DataFrame.empty

Indicator whether Series/DataFrame is empty.

DataFrame.set_flags(*[, copy, ...])

Return a new object with updated flags.

In [2]:
df = pd.read_csv('calisan_data.csv')

In [3]:
df

,Isimler,Soyisimler,TelefonTuru,Departman,Sehir,DogumTarihi,Maas,Telefon,mail
0,ALİ,KANDEMİR,Sabit,Müşteri İlişkileri ve Satış,Kocaeli,22 Nisan 1985,9477,2625462003,kandemirali@yandex.com
1,MAHMUT,ÇEVİK,Sabit,Yazılım Geliştirme,İstanbul,02 Mayıs 1979,11331,2128804662,mahmut.çevik@yandex.com
2,MANSUR,ERKURAN,Vodafone,Yazılım Geliştirme,Ankara,02 Kasım 1979,11679,5488439920,mansur.erkuran@gmail.com
3,GAMZE,TÜTEN,Vodafone,Yazılım Geliştirme,Bursa,03 Şubat 1987,5206,5427560798,tütengamze@hotmail.com
4,MİRAÇ,ÖZTÜRK,Türk Telekom,Yazılım Geliştirme,İstanbul,22 Ekim 1987,8670,5544899572,öztürk.miraç@yandex.com
...,...,...,...,...,...,...,...,...,...
2440,YILMAZ,YAZICI,Vodafone,Yazılım Geliştirme,Kocaeli,09 Aralık 1975,12593,5443005679,yilmaz.yazici@yahoo.com
2441,ZEYNEP,DOĞANGÜZEL,Türk Telekom,Yazılım Geliştirme,İstanbul,22 Mayıs 1986,6021,5533689407,zeynep.doğangüzel@gmail.com
2442,CANER,AKKAYA,Türk Telekom,Yazılım Geliştirme,İstanbul,07 Kasım 1983,8716,5533969681,akkaya.caner@yandex.com
2443,VOLKAN,FEYZULLAHOĞLU,Türk Telekom,Yazılım Geliştirme,Bursa,09 Temmuz 1984,9408,5069462233,feyzullahoğlu.volkan@yahoo.com
2444,EMRE,ŞAHİN,Vodafone,Yazılım Geliştirme,İstanbul,16 Temmuz 1978,14493,5415697256,emre.şahin@yandex.com

In [4]:
df.head()

,Isimler,Soyisimler,TelefonTuru,Departman,Sehir,DogumTarihi,Maas,Telefon,mail
0,ALİ,KANDEMİR,Sabit,Müşteri İlişkileri ve Satış,Kocaeli,22 Nisan 1985,9477,2625462003,kandemirali@yandex.com
1,MAHMUT,ÇEVİK,Sabit,Yazılım Geliştirme,İstanbul,02 Mayıs 1979,11331,2128804662,mahmut.çevik@yandex.com
2,MANSUR,ERKURAN,Vodafone,Yazılım Geliştirme,Ankara,02 Kasım 1979,11679,5488439920,mansur.erkuran@gmail.com
3,GAMZE,TÜTEN,Vodafone,Yazılım Geliştirme,Bursa,03 Şubat 1987,5206,5427560798,tütengamze@hotmail.com
4,MİRAÇ,ÖZTÜRK,Türk Telekom,Yazılım Geliştirme,İstanbul,22 Ekim 1987,8670,5544899572,öztürk.miraç@yandex.com

In [5]:
df.tail(4)

,Isimler,Soyisimler,TelefonTuru,Departman,Sehir,DogumTarihi,Maas,Telefon,mail
2441,ZEYNEP,DOĞANGÜZEL,Türk Telekom,Yazılım Geliştirme,İstanbul,22 Mayıs 1986,6021,5533689407,zeynep.doğangüzel@gmail.com
2442,CANER,AKKAYA,Türk Telekom,Yazılım Geliştirme,İstanbul,07 Kasım 1983,8716,5533969681,akkaya.caner@yandex.com
2443,VOLKAN,FEYZULLAHOĞLU,Türk Telekom,Yazılım Geliştirme,Bursa,09 Temmuz 1984,9408,5069462233,feyzullahoğlu.volkan@yahoo.com
2444,EMRE,ŞAHİN,Vodafone,Yazılım Geliştirme,İstanbul,16 Temmuz 1978,14493,5415697256,emre.şahin@yandex.com

In [6]:
df[-4:-1]

,Isimler,Soyisimler,TelefonTuru,Departman,Sehir,DogumTarihi,Maas,Telefon,mail
2441,ZEYNEP,DOĞANGÜZEL,Türk Telekom,Yazılım Geliştirme,İstanbul,22 Mayıs 1986,6021,5533689407,zeynep.doğangüzel@gmail.com
2442,CANER,AKKAYA,Türk Telekom,Yazılım Geliştirme,İstanbul,07 Kasım 1983,8716,5533969681,akkaya.caner@yandex.com
2443,VOLKAN,FEYZULLAHOĞLU,Türk Telekom,Yazılım Geliştirme,Bursa,09 Temmuz 1984,9408,5069462233,feyzullahoğlu.volkan@yahoo.com

In [ ]:
# iki boyutlu bir matris haline getirelim

In [7]:
matris1 = df.values

In [8]:
matris1

array([['ALİ', 'KANDEMİR', 'Sabit', ..., 9477, 2625462003,
        'kandemirali@yandex.com'],
       ['MAHMUT', 'ÇEVİK', 'Sabit', ..., 11331, 2128804662,
        'mahmut.çevik@yandex.com'],
       ['MANSUR', 'ERKURAN', 'Vodafone', ..., 11679, 5488439920,
        'mansur.erkuran@gmail.com'],
       ...,
       ['CANER', 'AKKAYA', 'Türk Telekom', ..., 8716, 5533969681,
        'akkaya.caner@yandex.com'],
       ['VOLKAN', 'FEYZULLAHOĞLU', 'Türk Telekom', ..., 9408, 5069462233,
        'feyzullahoğlu.volkan@yahoo.com'],
       ['EMRE', 'ŞAHİN', 'Vodafone', ..., 14493, 5415697256,
        'emre.şahin@yandex.com']], dtype=object)

In [10]:
matris1[0]

array(['ALİ', 'KANDEMİR', 'Sabit', 'Müşteri İlişkileri ve Satış',
       'Kocaeli', '22 Nisan 1985', 9477, 2625462003,
       'kandemirali@yandex.com'], dtype=object)

In [12]:
matris1[0][0]

'ALİ'

In [13]:
type(df.Isimler)

pandas.core.series.Series

In [14]:
df.Isimler # seri seklinde kullanabiliriz

0          ALİ
1       MAHMUT
2       MANSUR
3        GAMZE
4        MİRAÇ
         ...
2440    YILMAZ
2441    ZEYNEP
2442     CANER
2443    VOLKAN
2444      EMRE
Name: Isimler, Length: 2445, dtype: object

In [15]:
df.Isimler[1]

'MAHMUT'

In [16]:
df.dtypes  # veri tiplerini gormus olduk

Isimler        object
Soyisimler     object
TelefonTuru    object
Departman      object
Sehir          object
DogumTarihi    object
Maas            int64
Telefon         int64
mail           object
dtype: object

In [17]:
df.describe()

               Maas       Telefon
count   2445.000000  2.445000e+03
mean    8140.990184  5.103949e+09
std     3598.321001  9.171416e+08
min     3017.000000  2.121115e+09
25%     5403.000000  5.078872e+09
50%     7385.000000  5.448952e+09
75%     9984.000000  5.522060e+09
max    24270.000000  5.569854e+09

In [19]:
df.columns

Index(['Isimler', 'Soyisimler', 'TelefonTuru', 'Departman', 'Sehir',
       'DogumTarihi', 'Maas', 'Telefon', 'mail'],
      dtype='object')

In [20]:
df.shape

(2445, 9)

In [22]:
df.index

RangeIndex(start=0, stop=2445, step=1)

In [23]:
df.info

<bound method DataFrame.info of      Isimler     Soyisimler   TelefonTuru                    Departman  \
0        ALİ       KANDEMİR         Sabit  Müşteri İlişkileri ve Satış
1     MAHMUT          ÇEVİK         Sabit           Yazılım Geliştirme
2     MANSUR        ERKURAN      Vodafone           Yazılım Geliştirme
3      GAMZE          TÜTEN      Vodafone           Yazılım Geliştirme
4      MİRAÇ         ÖZTÜRK  Türk Telekom           Yazılım Geliştirme
...      ...            ...           ...                          ...
2440  YILMAZ         YAZICI      Vodafone           Yazılım Geliştirme
2441  ZEYNEP     DOĞANGÜZEL  Türk Telekom           Yazılım Geliştirme
2442   CANER         AKKAYA  Türk Telekom           Yazılım Geliştirme
2443  VOLKAN  FEYZULLAHOĞLU  Türk Telekom           Yazılım Geliştirme
2444    EMRE          ŞAHİN      Vodafone           Yazılım Geliştirme

         Sehir     DogumTarihi   Maas     Telefon  \
0      Kocaeli   22 Nisan 1985   9477  2625462003
1     İstanbul   02 Mayıs 1979  11331  2128804662
2       Ankara   02 Kasım 1979  11679  5488439920
3        Bursa   03 Şubat 1987   5206  5427560798
4     İstanbul    22 Ekim 1987   8670  5544899572
...        ...             ...    ...         ...
2440   Kocaeli  09 Aralık 1975  12593  5443005679
2441  İstanbul   22 Mayıs 1986   6021  5533689407
2442  İstanbul   07 Kasım 1983   8716  5533969681
2443     Bursa  09 Temmuz 1984   9408  5069462233
2444  İstanbul  16 Temmuz 1978  14493  5415697256

                                mail
0             kandemirali@yandex.com
1            mahmut.çevik@yandex.com
2           mansur.erkuran@gmail.com
3             tütengamze@hotmail.com
4            öztürk.miraç@yandex.com
...                              ...
2440         yilmaz.yazici@yahoo.com
2441     zeynep.doğangüzel@gmail.com
2442         akkaya.caner@yandex.com
2443  feyzullahoğlu.volkan@yahoo.com
2444           emre.şahin@yandex.com

[2445 rows x 9 columns]>

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2445 entries, 0 to 2444
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Isimler      2445 non-null   object
 1   Soyisimler   2445 non-null   object
 2   TelefonTuru  2445 non-null   object
 3   Departman    2445 non-null   object
 4   Sehir        2445 non-null   object
 5   DogumTarihi  2445 non-null   object
 6   Maas         2445 non-null   int64
 7   Telefon      2445 non-null   int64
 8   mail         2445 non-null   object
dtypes: int64(2), object(7)
memory usage: 172.0+ KB