In [1]:
import pandas as pd

In [2]:
netflix = pd.read_csv('netflix.csv')

In [4]:
netflix.head()

,sov_no,tipi,baslik,yonetmen,oyuncular,ulke,eklenme_tarihi,cikis_tarihi,sure,kategori,aciklama
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [6]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sov_no          6234 non-null   int64
 1   tipi            6234 non-null   object
 2   baslik          6234 non-null   object
 3   yonetmen        4265 non-null   object
 4   oyuncular       5664 non-null   object
 5   ulke            5758 non-null   object
 6   eklenme_tarihi  6223 non-null   object
 7   cikis_tarihi    6234 non-null   int64
 8   sure            6234 non-null   object
 9   kategori        6234 non-null   object
 10  aciklama        6234 non-null   object
dtypes: int64(2), object(9)
memory usage: 535.9+ KB

In [7]:
6234-4265

1969

In [ ]:
netflix.dropna()  # nan varsa o satiri kalici atar inplace ile

In [ ]:
netflix.dropna(how='all') # butun satir nan ise at demis olduk

In [ ]:
netflix.dropna(axis: 'Axis' = 0,) # axis = 0 = satir, axis =1 = sutun

In [ ]:
netflix.dropna(axis: 'columns')  # nan deger varsa o sutun gider

In [ ]:
netflix.fillna('-')

In [ ]:
netflix.fillna(5)

In [ ]:
netflix.fillna('Bos')

In [ ]:
netflix.fillna(1000, inplace=True)

In [ ]:
# sutun sutun nan degerler degistirilebilir

In [ ]:
netflix['yonetmen']  # hatirlayalim bu bir seri su an

In [ ]:
netflix['yonetmen'].fillna('yonetmen kayitli degil')